* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html, body, #root {
  margin: 0;
  padding: 0;
}

body {
background-color: #0D0E11;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
